@model WebAccountantASP.ViewModel.AddTransactionViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Transactions</h2>

@*A table showing all the Transactions*@
<div name="listOftransactions">
    <h4>List of Transactions</h4>
    <hr />
    @if (Model != null)
    {
        <table class="table">

            <thead>
                <tr>
                    <td><b>@Html.DisplayNameFor(e => e.Transaction.Date)</b></td>
                    <td><b>@Html.DisplayNameFor(e => e.Transaction.Debit)</b> </td>
                    <td><b>@Html.DisplayNameFor(e => e.Transaction.Credit)</b></td>
                    <td><b>@Html.DisplayNameFor(e => e.Transaction.Value)</b></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var transaction in Model.Transactions)
                {
                    <tr>
                        <td>@transaction.Date</td>
                        <td>@transaction.Debit.Name </td>
                        <td>@transaction.Credit.Name</td>
                        <td>@transaction.Value</td>
                    </tr>
                }

            </tbody>

        </table>
    }
</div>


@*Add new transaction form*@

@using (Html.BeginForm("Add", "Transaction"))
{
    @Html.AntiForgeryToken()

    <div class="form-inline">
        <h4>Add Account</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Transaction.Debit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction.Debit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction.Debit, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Transaction.Credit, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Transaction.Credit, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Transaction.Credit, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Transaction.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Transaction.Value)
                    @Html.ValidationMessageFor(model => model.Transaction.Value, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-15 col-md-10">
                <input type="submit" value="Add" class="btn btn-default" />
            </div>
        </div>
    </div>
}