@model WebAccountantASP.ViewModel.ReportViewModel

<div>
    @if (Model != null)
    {
        <table class="table">


            <tbody>
                <tr class="income">
                    <td>@Html.DisplayNameFor(e => e.IncomeSum)</td>
                    <td>@Model.IncomeSum</td>
                </tr>
                <tr class="expense">
                    <td ><b>@Html.DisplayNameFor(e => e.ExpenseSum)</b></td>
                    <td>@Model.ExpenseSum</td>
                </tr>
                <tr class="@(Model.Diference < 0 ? "bg-danger" : "bg-success" ) ">
                    <td><b>@Html.DisplayNameFor(e => e.Diference)</b></td>
                    <td>@Model.Diference</td>
                </tr>

            </tbody>



        </table>
    }
</div>