@model WebAccountantASP.ViewModel.ReportViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div name="listOftransactions">
    <h4>List of Transactions</h4>
    <hr />
    @if (Model != null)
    {
        <table class="table">

            <thead>
                <tr>
                    <td><b>@Html.DisplayNameFor(e => e.Report.Account)</b></td>
                    <td><b>@Html.DisplayNameFor(e => e.Report.DebitValue)</b> </td>
                    <td><b>@Html.DisplayNameFor(e => e.Report.CreditValue)</b></td>
                </tr>
            </thead>

            <tbody>
                @foreach (var report in Model.Reports)
                {
                    <tr>
                        <td>@report.Account.Name</td>
                        <td>@report.DebitValue </td>
                        <td>@report.CreditValue</td>
                        
                    </tr>
                }

            </tbody>

        </table>
    }
</div>
