
@model WebAccountantASP.ViewModel.AddAccountViewModel

<div name="listOfAccounts">
    
    <hr />
    @if (Model.Accounts != null)
    {
        <table class="table" runat="server" id="Accounts">

            <thead class="thead">
                <tr>
                    <th scope="col"><b>@Html.DisplayNameFor(Model => Model.Account.Name)</b> </th>
                    <th scope="col"><b>@Html.DisplayNameFor(Model => Model.Account.Value)</b></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var account in Model.Accounts)
                {
                    
                <tr data-content="@account.AccountType" id="account">
                    <td scope="row">@account.Name</td>
                    <td >@account.Value</td>
                </tr>
                }

            </tbody>

        </table>
    }
</div>
