
@model WebAccountantASP.ViewModel.AccountFormViewModel

<div name="listOfAccounts">
    
    <hr />
    @if (Model.Accounts != null)
    {
        <table class="table" runat="server" id="Accounts">

            <thead class="thead">
                <tr>
                    <th scope="col"><b>@Html.DisplayNameFor(Model => Model.Account.Name)</b> </th>
                    <th scope="col"><b>@Html.DisplayNameFor(Model => Model.Account.Value)</b></th>
                </tr>
            </thead>

            <tbody>
                @foreach (var account in Model.Accounts)
                {
                    
                <tr data-content="@account.AccountType" id="account">
                    <td scope="row">@account.Name</td>
                    <td>@account.Value</td>
                    @*For some reason null is necessary argument without it Link wont pick the id.*@
                    <td>@Html.ActionLink("Edit", "Edit", "Account", new { id = account.Id }, null)</td>
                    @*Couldnt make the delete method to work, will return to that later.*@
                    @*<td>@Html.ActionLink("Delete", "DeleteAccount", "Account", new { id = account.Id }, null)</td>*@

                </tr>
                }

            </tbody>
            
        </table>
    }
</div>
