@model WebAccountantASP.ViewModel.AddAccountViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

@*A table showing all the accounts*@
<div name="listOfAccounts">
    <h4>List of Accounts</h4>
    <hr/>
    @if (Model.Accounts != null)
    {
    <table class="table">

        <thead>
            <tr>
                <td><b>@Html.DisplayNameFor(e => e.Account.Name)</b> </td>
                <td><b>@Html.DisplayNameFor(e => e.Account.Value)</b></td>
            </tr>
        </thead>

        <tbody>
            @foreach (var account in Model.Accounts)
            {
                <tr>
                    <td>@account.Name</td>
                    <td>@account.Value</td>
                </tr>
                    }

            </tbody>

    </table>
    }
</div>


@*Add account form*@
@using (Html.BeginForm("Add", "Account")) 
{
    @Html.AntiForgeryToken()
    
<div class="form-inline">
    <h4>Add Account</h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="form-group">
        @Html.LabelFor(model => model.Account.Name, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Account.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Account.Name, "", new { @class = "text-danger" })
        </div>
    </div>



    <div class="form-group">
        @Html.LabelFor(model => model.Account.Value, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Account.Value, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Account.Value, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Account.IsDebit, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <div class="checkbox">
                @Html.EditorFor(model => model.Account.IsDebit)
                @Html.ValidationMessageFor(model => model.Account.IsDebit, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-15 col-md-10">
            <input type="submit" value="Add" class="btn btn-default" />
        </div>
    </div>
</div>
}


@*Buttons at the end of the form*@  
<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
